# Dependencies
node_modules

# Next.js build output
.next
out

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Git
.git
.gitignore

# Env
.env
.env.local
.env.*.local

# Misc
.DS_Store
.vercel
.idea
.vscode
coverage

# Ensure prisma directory is included
!prisma/
